.dropdownContainer{
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
}

.select{
    background-color: aqua;
    min-width: 100px;
    border-radius: 10px;
    text-align: center;
    min-height: 100%;
}